.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Divisão igual de 4 colunas */
    background-image: linear-gradient(to bottom, rgb(16, 118, 177), rgb(218, 152, 29));
    align-items: center; 
    text-align: center;
    height: 70px;
}

.grid-container div {
    font-size: 23px; 
    font-family: serif;
    border: 3px solid rgb(185, 95, 21);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90%; 
}

.header {
    padding: 0; 
    text-align: center;
    border: solid 2px white;
}

.imagem {
    text-align: center;
}

.logo{
    border: solid green;
}

.conteudo {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.568),rgba(0, 128, 0, 0.699))
}

hr {
    height: 50px;
    background-image: linear-gradient(to bottom, rgb(16, 118, 177), rgb(218, 152, 29));
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
