.fotinha {
    width: 50px;
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
}  

button#botao {
    margin-right: 15px;
}

.nav-item {
    font-size: 13pt;
    transform: scale(1.0);
    transition: 0.5s;
}

.nav-item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

h1 {
    font-family: "Share Tech Mono";
    font-size: 2.5rem; 
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #8FC7D1;
    line-height: 1.6;
}

section {
    margin: 5% 0; 
    padding-top: 40px; 
}

main{
    margin: 0 5% 0 5%;
}

footer{
    margin: 100px 5% 0 5%;
}

.icones{
    display: flex; 
    justify-content: end; 
    gap: 15px;
}

#cartao1,#cartao2,#cartao3{
    transform: scale(1.0);
    transition: 0.5s;
}

#cartao1:hover,#cartao2:hover,#cartao3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

button#botao2{
    cursor: pointer;
}

.contato{
    margin: 0 5% 0 5%;
}

#c1,#c2,#c3{
    transform: scale(1.0);
    transition: 0.5s;
}

#c1:hover,#c2:hover,#c3:hover{
    transform: scale(1.020);
    transition: 0.5s;
}

#enviar{
    margin-top: 13px;
}

#data{
    padding-top: 100px;
}

#rodapedados{
    font-size: 15pt;
    text-align: center;
}

